p {margin-top:0.5em;}
p.tags {text-align:right;margin:1em 0 0 0;
    color:red;font:normal 83% Tahoma,Helvetica,Arial,sans-serif;}
p.ref {text-indent:0;margin:0;}
p.tags { border-top: 2px solid black; }
p.ref {  border-top: 2px solid black; }
/* Override if tags precedes ref */
p.tags + p.ref, p.ref + p.ref { border-top: none; }
.authors, .year, .pages { font:normal 90% Helvetica,Arial,sans-serif;}
 .jname { font:italic 90% Verdana,Helvetica,Arial,sans-serif;}
 .jvol { font:bold 90% Verdana,Helvetica,Arial,sans-serif;}
 .reftitl {margin-top:0; text-indent:0;
            font:bold 110% Palatino,'New Century Schoolbook',serif;}
 .Para1 { margin-top:0.5em; text-indent:0;}
 .Abstract { font:normal 90% Helvetica,Arial,sans-serif; }
 table {margin:0 auto;}
 table.hrules {background:none;border-top:3px solid black;
     border-bottom:3px solid black;}
 table.hrules thead {border-bottom:1px solid black;}
 table.hrules td, table.hrules th {background:none;}
 table.hrules tbody tr {border-top:1px solid black;}
 th {text-align:center;}
 td {text-align:left;}
 td ul, td ul li {margin-left:0;}
  ul {margin-top:0.5em;}
  .numer {border-bottom:1px solid black;}
  .centertd td, .td-center, .th-center {text-align:center;}
  .eqnserif td {padding:0 0.5em;}
  .smallcap {font-variant:small-caps;}
  .leftindent { text-align:left;margin-left:5em;}

  #ir-table td {font:normal 90% 'Times New Roman','Times Roman',Times,serif;
     vertical-align:top;}
  #ir-table th {font:bold 83% Helvetica,Arial,sans-serif;vertical-align:bottom;}
  #postranstable {font-size:83%;}
	#postranstable td {vertical-align:top;}
	#postranstable th {vertical-align:bottom;}
	#postranstable * p {margin-top:0;margin-bottom:0;margin-left:1em;text-indent:-1em;}
