**/node_modules
**/.vscode
**/build/Gulp/src
**/build/Gulp/pre
**/build/Gulp/run
**/GenLib
**/ChemDoodle
**/Ketcher
**/PowerPoint Talks--Libraries
*.js.map
bfg.jar
pdfs/
CatchAFire/
Gulp/
./Teaching/Chemistry/
Reference/UPhoenix
docs/Teaching/Chemistry/css/
**/__NotesToWorkOn

Teaching/src/GoogleDriveApiFileRetrieve.ts
Teaching/src/GoogleDriveFileListing\[Node].ts
request.rest
DriveAPIcredentials.json
mavigozler.github.io-mirror.git/

IMathAS/
Simple Attendance/
docs/Teaching/Chemistry/FlashCard/
text2qti/
exam-question-generator/
HTTPCert-DNS/acme-dns