**/node_modules
**/.vscode
**/build/Gulp/src
**/build/Gulp/pre
**/build/Gulp/run
**/GenLib
**/ChemDoodle
**/Ketcher
**/PowerPoint Talks--Libraries
*.7z
*.zip
*.js.map
bfg.jar
pdfs/
CatchAFire/
Gulp/
./Teaching/Chemistry/
Reference/UPhoenix
docs/Teaching/Chemistry/css/
**/__NotesToWorkOn

profmitch.github.io-mirror.git/
docs/Teaching/Chemistry/FlashCard/
**/scripts
scripts/HTTPCert-DNS/acme-dns
